name: Update constraints-dev.txt

on:
  # schedule:
  #   - cron: '0 3 * * 1'  # Every Monday at 03:00 UTC
  workflow_dispatch:

jobs:
  update-constraints:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout "update-constraints" in-house CI action
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: instructlab/ci-actions
          path: ci-actions
          ref: v0.2.1
          sparse-checkout: |
            actions/update-constraints

      - name: Update constraints
        id: update-constraints
        uses: ./ci-actions/actions/update-constraints
        with:
          gh-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}