# SPDX-License-Identifier: Apache-2.0

name: Lint, Format, and MyPy

on:
  push:
    branches:
      - "main"
      - "release-**"
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'constraints-dev.txt'
      - 'tox.ini'
      - '.pylintrc'
      - 'scripts/*.sh'
      - '.github/workflows/lint.yml'
      - 'src/instructlab/sdg/pipelines/**'
  pull_request:
    branches:
      - "main"
      - "release-**"
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'constraints-dev.txt'
      - 'tox.ini'
      - '.pylintrc'
      - 'scripts/*.sh'
      - '.github/workflows/lint.yml'
      - 'src/instructlab/sdg/pipelines/**'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    name: "${{ matrix.lint.name }}"
    strategy:
      fail-fast: false
      matrix:
        lint:
          - name: "ruff"
            commands: |
              tox -e ruff -- check
          - name: "pylint"
            commands: |
              echo "::add-matcher::.github/workflows/matchers/pylint.json"
              tox -e lint
          - name: "mypy"
            commands: |
              tox -e mypy
          - name: "pipelines"
            commands: |
              tox -e validate-pipelines
    steps:
      - name: "Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # https://github.com/actions/checkout/issues/249
          fetch-depth: 0

      - name: Setup Python 3.11
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.11
          cache: pip
          cache-dependency-path: |
            **/pyproject.toml
            **/requirements*.txt

      - name: "Install tox"
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh -c constraints-dev.txt

      - name: "${{ matrix.lint.name }}"
        run: |
          ${{ matrix.lint.commands }}
        env:
          RUFF_OUTPUT_FORMAT: github

  lint-workflow-complete:
    needs: ["lint"]
    runs-on: ubuntu-latest
    steps:
      - name: Lint Workflow Complete
        run: echo "Lint Workflow Complete"
